.flex-container {
  display: flex;

  .wc-container {
    display: flex;
    padding-left: 20px;

    img {
      height: 60px;
    }

    .count {
      align-self: flex-end;
      margin-left: -10px;
      margin-bottom: -10px;
      font-size: 25px;
      color: whitesmoke;
      width: 30px;
    }
  }
}