::ng-deep .mat-card-header-text {
  margin: 0px !important; 
}
::ng-deep .mat-sort-header-arrow {
  color: orange !important;
}
::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;

  .card-header, 
  .inventory {
    flex: 0 1 auto;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  height: 700px;
  overflow: auto; // overflow only works for blocks with specified height
}

.mat-row:hover {
  background-color: #6d6d6d;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
  min-width: 60px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
  text-align: left !important;
  min-width: 200px;
}

.mythic {
  color: #cf5b25;
}

.rare {
  color: #a36b00;
}

.uncommon {
  color: #447484;
}

.common {
  color: #888888;
}

.basic {
  color: #ffffff;
}

// Scrollbar Style Override
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f57c00; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#ffad42; 
}
