.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mythic {
  color: #cf5b25;
}

.rare {
  color: #a36b00;
}

.uncommon {
  color: #447484;
}

.common {
  color: #888;
}