@import 'src/constants.scss';

.progress-bar {
  padding-top: 2px;
  >mat-progress-bar {
    height: 2px;
  }
}

.missing-cards-page {
  padding: $default-padding;

  .inventory {
    color: $theme-accent-color-a100;
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }
  
  .filter {
    color: $theme-accent-color-a100;
    >mat-form-field {
      width: 50%;
    }
  }
  
  .table-container {
    height: 700px;
    overflow: auto; // overflow only works for blocks with specified height
    
    .mat-row:hover {
      background-color: $theme-accent-color-a700;
    }
    
    .mat-header-cell,
    .mat-cell {
      text-align: center;
      min-width: 60px;
    }
    
    .mat-table-sticky:first-child {
      border-right: 1px solid $theme-accent-color;
      text-align: left !important;
      min-width: 200px;
    }
    
    .mythic {
      color: #cf5b25;
    }
    
    .rare {
      color: #a36b00;
    }
    
    .uncommon {
      color: #447484;
    }
    
    .common {
      color: #888888;
    }
    
    .basic {
      color: #ffffff;
    }
  }

  .paginator {
    padding-top: $default-padding;
  }
}

// Scrollbar Style Override
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $theme-accent-color; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-primary-color; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-primary-color; 
}

::ng-deep .mat-card-header-text {
  margin: 0px !important; 
}
::ng-deep .mat-sort-header-arrow {
  color: mat-color($primary);
}
::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}

::ng-deep .mat-progress-bar-buffer {
  background: $theme-background-color;
}
