<mat-card>
  <mat-card-header>
    <div class="inventory">
      <app-inventory></app-inventory>
    </div>
  </mat-card-header>
  <mat-card-content>
    
    <mat-form-field>
      <input 
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Card Filter">
    </mat-form-field>

    <div class="mat-elevation-z8 table-container">
        <div class="scrollbar" id="scrollbar-style">
          <div class="force-overflow"></div>
        </div>

      <table mat-table [dataSource]="dataSource" matSort>
      
        <ng-container [matColumnDef]="stickyColum" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getColumnName(stickyColum)}} </th>
          <td mat-cell *matCellDef="let element" 
          [ngClass]="getRarityClass(stickyColum, element)"> {{element[stickyColum]}} </td>
        </ng-container>

        <ng-container [matColumnDef]="column" *ngFor="let column of flexColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getColumnName(column)}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <ng-container [matColumnDef]="deck.name" *ngFor="let deck of playerDecks">
          <th mat-header-cell *matHeaderCellDef>{{ deck.name }} </th>
          <td mat-cell *matCellDef="let i = index"> {{ getRequiredCount(deck, dataSource.filteredData[i].multiverseId) }} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>

  </mat-card-content>
</mat-card>
