<div class="inventory-container">

  <div class="left-container">
    <div class="name">{{ (state$ | async).playerName }}</div>
  </div>

  <div class="right-container">
    <div class="wc-container">
      <img src="./assets/img/wcMythic.png">
      <div class="count-container">
        <div class="count">{{ (state$ | async).wildcardMythic }}</div>
        <div class="required">/ {{ (state$ |async).wildcardRequirements.wildcardMythicRareRequired }}</div>
      </div>
    </div>
    <div class="wc-container">
      <img src="./assets/img/wcRare.png">
      <div class="count-container">
        <div class="count">{{ (state$ | async).wildcardRare }}</div>
        <div class="required">/ {{ (state$ |async).wildcardRequirements.wildcardRareRequired }}</div>
      </div>
    </div>
    <div class="wc-container">
      <img src="./assets/img/wcUncommon.png">
      <div class="count-container">
        <div class="count">{{ (state$ | async).wildcardUncommon }}</div>
        <div class="required">/ {{ (state$ |async).wildcardRequirements.wildcardUncommonRequired }}</div>
      </div>
    </div>
    <div class="wc-container">
      <img src="./assets/img/wcCommon.png">
      <div class="count-container">
        <div class="count">{{ (state$ | async).wildcardCommon }}</div>
        <div class="required">/ {{ (state$ |async).wildcardRequirements.wildcardCommonRequired }}</div>
      </div>
    </div>
  </div>
</div>