<div class="history-tab-container">
  <div class="table-container mat-elevation-z8">
    <div class="scrollbar" id="scrollbar-style">
      <div class="force-overflow"></div>
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort>
    
      <ng-container matColumnDef="name" sticky class="name-column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Card Name</div>
        </th>
        <td mat-cell *matCellDef="let historyCard" [ngClass]="getRarityColorClass(historyCard.rarity)"> 
          {{ historyCard.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="setCode" class="set-column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Set</div>
        </th>
        <td mat-cell *matCellDef="let historyCard"> 
          {{ historyCard.setCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="requiringDeckNames" class="requiring-decks-column">
        <th mat-header-cell *matHeaderCellDef>
          <div>Required for Decks</div>
        </th>
        <td mat-cell *matCellDef="let historyCard"> 
          {{ historyCard.requiringDeckNames }}
        </td>
      </ng-container>

      <ng-container matColumnDef="timeStamp" class="time-column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Time</div>
        </th>
        <td mat-cell *matCellDef="let historyCard"> 
          {{ historyCard.timeStampPrettyPrint }}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>