@import 'src/constants.scss';

.history-tab-container {
  height: 100%; // inhibits container to stretch more than available space
  display: flex;
  flex-direction: column;
  
  .table-menu {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $theme-accent-color-a100;

    .column-search {
      flex: 1 1 auto;
      .search {
        >mat-form-field {
          width: 50%;
        }
      }
    }
  }
  
  .table-container {
    flex: 1 1 auto; // takes rest of vertical space
    overflow: auto; // if overflow is clipped, a scroll-bar should be added to see the rest of the content
    height: 1px; // overflow only works for blocks with specified height, flex-grow of 1 scales the rest of the element to take the available room
    -webkit-user-select: none;

    >table {
      width: 100%;
    }

    .mat-row {
      height: 30px;
    }

    .mat-row:hover {
      background-color: $theme-accent-color-a700;
    }

    th.mat-header-cell {
      border-bottom-width: 0px;
    }
  
    th.mat-header-cell:last-of-type {
      padding-right: 0px;
    }

    ul {
      padding-inline-start: 0px;
      list-style-type: none;

      .deckRequirementComplete {
        color: rgb(0, 255, 0);
      }
    }
  }
}

// Scrollbar Style Overrides
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $theme-accent-color; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-primary-color; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-primary-color; 
}
