<div class="history-tab-container">
  <div class="table-menu">
    <div class="column-search">
      <div class="search">
        <mat-form-field>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
          <button matSuffix mat-button color="primary" *ngIf="(state$ | async).filterValue" (click)="clearFilter()">
            Clear
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="table-container mat-elevation-z8">
    <div class="scrollbar" id="scrollbar-style">
      <div class="force-overflow"></div>
    </div>

    <table mat-table [dataSource]="(dataSource$ | async)" matSort>
  
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Card Name</div>
        </th>
        <td mat-cell *matCellDef="let historyCard" [ngClass]="getRarityColorClass(historyCard.collectionCard.data.rarity)">
          {{ historyCard.collectionCard.data.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="setCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Set</div>
        </th>
        <td mat-cell *matCellDef="let historyCard">
          {{ historyCard.collectionCard.data.set }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ownedCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Owned</div>
        </th>
        <td mat-cell *matCellDef="let historyCard">
          {{ historyCard.collectionCard.ownedCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="missingCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Missing</div>
        </th>
        <td mat-cell *matCellDef="let historyCard">
          {{ historyCard.collectionCard.missingCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="requiringDeckNames">
        <th mat-header-cell *matHeaderCellDef>
          <div>Required for Decks</div>
        </th>
        <td mat-cell *matCellDef="let historyCard">
          <ul>
            <li *ngFor="let deckRequirement of historyCard.collectionCard.deckRequirements"
            [ngClass]="{'deckRequirementComplete': deckRequirement.ownedCount >= deckRequirement.requiredCount}">
              {{ deckRequirement.deckName }} ({{ deckRequirement.ownedCount }} / {{ deckRequirement.requiredCount }})
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="timeStamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Time</div>
        </th>
        <td mat-cell *matCellDef="let historyCard">
          {{ historyCard.timeStamp | timeAgo }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="paginator">
    <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>
  </div>
</div>