<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true">

  <targets>
    <target xsi:type="Console" name="Console" layout="${date:format=yy-MM-dd HH\:mm\:ss} [${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}}][${pad:padding=-10:fixedLength=true:inner=${logger}}]> ${message}"/>
  </targets>

  <rules>
    <logger name="*" minLevel="Info" writeTo="Console"/>
  </rules>

</nlog>