@import 'src/constants.scss';

.tabs-container {
  direction: flex;
  flex-direction: column;

  .tabs-nav-bar {
    flex: 0 1 auto;
  }

  // TODO needed on this level or only on .table-container?
  // tabs content should not extend bottom, components should adapt internally
  .tabs-content {
    flex: 1 1 auto;
    height: 700px;
    overflow: auto; // overflow only works for blocks with specified height
  }
}
