@import 'src/theme.scss';

$default-padding: 10px;
$default-border: 1px;

// extracted theme palettes
$primary: map-get($mtga-deck-builder-theme, primary);
$accent: map-get($mtga-deck-builder-theme, accent);
$warn: map-get($mtga-deck-builder-theme, warn);
$background: map-get($mtga-deck-builder-theme, background);

// extracted theme colors
$theme-primary-color: mat-color($primary);
$theme-accent-color: mat-color($accent);
$theme-warn-color: mat-color($warn);
$theme-background-color: mat-color($background, background);

// extracted theme colors - light
$theme-accent-color-a100: mat-color($accent, A100);

// extracted theme colors - dark
$theme-accent-color-a700: mat-color($accent, A700);

.mythic-color {
  color: #cf5b25;
}

.rare-color {
  color: #a36b00;
}

.uncommon-color {
  color: #447484;
}

.common-color {
  color: #888888;
}

.land-color {
  color: #ffffff;
}

.type-color {
  color: pink;
}

.unknown-color {
  color: red;
}