@import 'src/constants.scss';

.flex-container {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  .name-container {
    .name {
      font-size: 30px;
    }
  }

  .wcs-container {
    display: flex;

    .wc-container {
      display: flex;

      img {
        height: 60px;
      }

      .count-container {
        display: flex;
        align-self: flex-end;
        color: whitesmoke;
        margin-bottom: -10px;
        margin-left: -20px;
        width: 65px;
        
        .count {
          font-size: 25px;
          color: $theme-accent-color-a100;
        }
  
        .required {
          font-size: 15px;
          color: $theme-accent-color;
          align-self: flex-end;
        }
      }
    }
  }
}