<div class="window-container">

  <div class="app-bar">
    <div class="title">MTGA Collection Optimizer</div>

    <div class="menues">
      <div class="app-menu">
        <div class="menu-item settings" (click)="openSettingsDialog()">
          <img src="assets/img/settings.png">
        </div>
      </div>

      <div class="window-menu">
        <div class="menu-item minimize" (click)="minimizeWindow()">
          <img src="assets/img/window-minimize.png">
        </div>
        <div class="menu-item maximize" (click)="maximizeWindow()">
          <img *ngIf="!isMaximized" src="assets/img/window-maximize.png">
          <img *ngIf="isMaximized" src="assets/img/window-restore.png">
        </div>
        <div class="menu-item close" (click)="closeWindow()">
          <img src="assets/img/window-close.png">
        </div>
      </div>
    </div>
  </div>

  <div class="progress-bar">
    <mat-progress-bar mode="query" *ngIf="(state$ | async).isLoading"></mat-progress-bar>
  </div>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>

  <!-- TODO add policy info here -->
</div>