<div class="window-container">

  <div class="app-bar">
    <div class="title">MTGA Collection Optimizer</div>
    <div class="window-menu">
      <div class="menu-item minimize">
        <img src="assets/img/window-minimize.png">
      </div>
      <div class="menu-item maximize">
          <img src="assets/img/window-maximize.png">
      </div>
      <div class="menu-item close">
        <img src="assets/img/window-close.png">
      </div>
    </div>
  </div>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>

</div>

