@import 'src/constants.scss';

.window-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $theme-background-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
  .app-bar {
    $height: 24px;

    flex: 0 0 auto;
    height: $height;
    background: $theme-accent-color-a700;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;

    >img {
      height: $height;
    }

    .title {
      color: $theme-accent-color-a100;
    }

    .window-menu {
      -webkit-app-region: none;
      -webkit-user-select: none;
      margin-left: auto;
      display: flex;
      flex-direction: row;

      .menu-item {
        margin-left: 1px;
        height: $height;
        width: $height;
      }

      .minimize:hover,
      .maximize:hover {
        background: $theme-accent-color;
      }

      .close:hover {
        background: $theme-warn-color;
      }
    }
  }
  
  .app-container {
    height: 0px; // overridden by flex, makes it take the rest of the space
    flex: 1 1 auto;
    padding: $default-padding;
    border-left: solid $default-border $theme-accent-color-a700;
    border-right: solid $default-border $theme-accent-color-a700;
    border-bottom: solid $default-border $theme-accent-color-a700;
  }
}
