<div class="window-container">

  <div class="app-bar">
    <div class="title">MTGA Collection Optimizer</div>
    <div class="window-menu">
      <div class="menu-item">
        <app-settings></app-settings>
      </div>
      <div class="menu-item minimize" (click)="minimizeWindow()">
        <img src="assets/img/window-minimize.png">
      </div>
      <div class="menu-item maximize" (click)="maximizeWindow()">
          <img src="assets/img/window-maximize.png">
      </div>
      <div class="menu-item close" (click)="closeWindow()">
        <img src="assets/img/window-close.png">
      </div>
    </div>
  </div>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>

</div>

