@import 'src/theme.scss';

$default-padding: 0px;
$default-margin: $default-padding;
$default-border: 0px;

// extracted theme palettes
$primary: map-get($mtga-deck-builder-theme, primary);
$accent: map-get($mtga-deck-builder-theme, accent);
$background: map-get($mtga-deck-builder-theme, background);

// extracted theme colors
$theme-primary-color: mat-color($primary);
$theme-accent-color: mat-color($accent);
$theme-background-color: mat-color($background, background);

// extracted theme colors - light
$theme-accent-color-a100: mat-color($accent, A100);

// extracted theme colors - dark
$theme-accent-color-a700: mat-color($accent, A700);
