@import 'src/constants.scss';

.layout-container {
  height: 100%; // takes whole vertical space of parent container dynamically
  display: flex;
  flex-direction: column;

  .inventory {
    flex: 0 1 auto; // allowed to shrink only
    color: $theme-accent-color-a100;
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }

  .tabs {
    flex: 1 1 auto; // takes rest of vertical space, allowed to shrink
  }
}
