@import 'src/constants.scss';

.layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .inventory {
    flex: 0 1 auto;
    color: $theme-accent-color-a100;
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }
}
