<div class="table-menu">
  <div class="column-search">
    <div class="search">
      <mat-form-field>
        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter()" placeholder="Search">
        <button matSuffix mat-button color="primary" *ngIf="filterValue" (click)="clearFilter()">
          Clear
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="column-sort">
    <mat-button-toggle-group>
      <mat-button-toggle value="Alphabetical" [checked]="(state$ | async).sortDeckColumnOrder === 0"
        (change)="onColumnSortValueChange($event)">
        Alphabetical
      </mat-button-toggle>
      <mat-button-toggle value="Completeness" [checked]="(state$ | async).sortDeckColumnOrder === 1"
        (change)="onColumnSortValueChange($event)">
        Completeness
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="table-container mat-elevation-z8">
  <div class="scrollbar" id="scrollbar-style">
    <div class="force-overflow"></div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container [matColumnDef]="stickyColumn" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getColumnName(stickyColumn)}} </th>
      <td mat-cell *matCellDef="let row" [ngClass]="getRarityClass(stickyColumn, row)">
        {{row[stickyColumn]}} </td>
    </ng-container>

    <ng-container [matColumnDef]="flexColumn" *ngFor="let flexColumn of flexColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getColumnName(flexColumn)}} </th>
      <td mat-cell *matCellDef="let row"> {{row[flexColumn]}} </td>
    </ng-container>

    <ng-container [matColumnDef]="playerDeck.name" *ngFor="let playerDeck of playerDecks; trackBy: trackPlayerDeck">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div>{{ playerDeck.name }}</div>
      </th>
      <td mat-cell *matCellDef="let collectionCard"> {{ getRequiredCount(collectionCard, playerDeck) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sticky-subheader" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="flex-subheader">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="{{getDeckSubheaderName(playerDeck)}}" *ngFor="let playerDeck of playerDecks">
      <th mat-header-cell *matHeaderCellDef>
        <div class="deck-progress">
          <div [ngStyle]="{'background-color': getProgressColor(playerDeck)}">
            {{ playerDeck.totalOwnedCards}} / {{ playerDeck.totalDeckCards}}
          </div>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsSubHeaders; sticky: true" class="subheader-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
</div>

<div class="paginator">
  <mat-paginator [pageSizeOptions]="[50, 10, 25, 100]"></mat-paginator>
</div>